<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>01BC4F2B-D593-4A9D-96CA-E53AF1B31FE8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A3311F5B-6618-4725-84BA-CC7589295EE2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2EA5C8FA-C066-412A-8F4E-52F3B1DCB28C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6D6C8168-1AFA-4CCF-B606-54C52CE4959C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>32BD60D0-0899-4F1E-9E9D-E64FDA9015EA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>349CFEE0-A737-4BC5-9520-7B5A498637CB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>349CFEE0-A737-4BC5-9520-7B5A498637CB</key>
		<array/>
		<key>5727B84C-A0B8-485A-8C6D-8F89EC2754C8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>01BC4F2B-D593-4A9D-96CA-E53AF1B31FE8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5897DA35-916A-4D83-91D2-0A8E9211A60D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A3311F5B-6618-4725-84BA-CC7589295EE2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6D6C8168-1AFA-4CCF-B606-54C52CE4959C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A3311F5B-6618-4725-84BA-CC7589295EE2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A3311F5B-6618-4725-84BA-CC7589295EE2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>32BD60D0-0899-4F1E-9E9D-E64FDA9015EA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FA4AC1FE-E7D3-40B4-9C2E-5F1539104E27</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5897DA35-916A-4D83-91D2-0A8E9211A60D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>KennyDiff</string>
	<key>description</key>
	<string>hex_month_date snippet Triggers</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>hex_month_date</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/local/bin/python3 ./slash.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>01BC4F2B-D593-4A9D-96CA-E53AF1B31FE8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>keyword</key>
				<string>sd</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>5727B84C-A0B8-485A-8C6D-8F89EC2754C8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string></string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>A3311F5B-6618-4725-84BA-CC7589295EE2</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{clipboard:0}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>349CFEE0-A737-4BC5-9520-7B5A498637CB</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>keyword</key>
				<string>hd</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>2EA5C8FA-C066-412A-8F4E-52F3B1DCB28C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/local/bin/python3 ./hash.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6D6C8168-1AFA-4CCF-B606-54C52CE4959C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>0.13</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>32BD60D0-0899-4F1E-9E9D-E64FDA9015EA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/local/bin/python3 ./underline.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5897DA35-916A-4D83-91D2-0A8E9211A60D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>keyword</key>
				<string>ud</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>FA4AC1FE-E7D3-40B4-9C2E-5F1539104E27</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## ⚙️hex_month_date (Python)

用五位的年月日来表达未来100年内的日期的一款Alfred Snippet Trigger， 主要是对月份的修改，改为16进制表达，这样可节省一位，年份去掉之前的20这个前缀，可省2位，这样就可用5位替代之前的8位年份。

```shell
type `sd or `hd or `ud to paste a short COMMENT like:  # K_22A09 (2022-10-09）
```

- #### 功能

- [x] 去掉这个组件的依赖：'pyperclip'

- [x] type `sd → // K_22710 Slash

- [x] type `hd → # K_22710 Hashtag

- [x] type `ud → _22710 Underline

- [x] 缺陷Fix： ken_5位年月日里面剪贴板的内容被覆盖了， 应该先临时存，然后再paste</string>
	<key>uidata</key>
	<dict>
		<key>01BC4F2B-D593-4A9D-96CA-E53AF1B31FE8</key>
		<dict>
			<key>xpos</key>
			<real>380</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>2EA5C8FA-C066-412A-8F4E-52F3B1DCB28C</key>
		<dict>
			<key>xpos</key>
			<real>195</real>
			<key>ypos</key>
			<real>380</real>
		</dict>
		<key>32BD60D0-0899-4F1E-9E9D-E64FDA9015EA</key>
		<dict>
			<key>note</key>
			<string>至少延迟0.13秒</string>
			<key>xpos</key>
			<real>840</real>
			<key>ypos</key>
			<real>410</real>
		</dict>
		<key>349CFEE0-A737-4BC5-9520-7B5A498637CB</key>
		<dict>
			<key>xpos</key>
			<real>960</real>
			<key>ypos</key>
			<real>380</real>
		</dict>
		<key>5727B84C-A0B8-485A-8C6D-8F89EC2754C8</key>
		<dict>
			<key>xpos</key>
			<real>195</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>5897DA35-916A-4D83-91D2-0A8E9211A60D</key>
		<dict>
			<key>xpos</key>
			<real>380</real>
			<key>ypos</key>
			<real>560</real>
		</dict>
		<key>6D6C8168-1AFA-4CCF-B606-54C52CE4959C</key>
		<dict>
			<key>xpos</key>
			<real>380</real>
			<key>ypos</key>
			<real>380</real>
		</dict>
		<key>A3311F5B-6618-4725-84BA-CC7589295EE2</key>
		<dict>
			<key>xpos</key>
			<real>655</real>
			<key>ypos</key>
			<real>380</real>
		</dict>
		<key>FA4AC1FE-E7D3-40B4-9C2E-5F1539104E27</key>
		<dict>
			<key>xpos</key>
			<real>195</real>
			<key>ypos</key>
			<real>560</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.3</string>
	<key>webaddress</key>
	<string>https://github.com/kennydiff</string>
</dict>
</plist>
